#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

binary: binary-indep
binary-arch:
binary-indep: build
	dh_testdir -i
	dh_testroot -i
	dh_installdirs -i
	dh_install -i
	dh_installdocs -i
	dh_installchangelogs -i
	dh_lintian -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

build: build-indep
build-arch:
build-indep:
	mkdir -p out
	cp -a bin etc lib out/
	sed -i -e "s|#{EC2_HOME}/etc|/etc|" \
	  out/lib/ec2/amitools/defaults.rb
	sed -i \
	  -e "s|File.join(EC2_HOME.to_s, \('/etc.*\))|\1|" \
	  out/lib/ec2/platform/base/constants.rb
	rm -f out/lib/ec2/oem/LICENSE.txt
	touch build-indep

clean:
	rm -rf out build-indep
	dh_testdir
	dh_clean

update:
	wget -N "http://s3.amazonaws.com/ec2-downloads/ec2-ami-tools.zip"
	rm -rf bin etc lib *.txt
	unzip ec2-ami-tools.zip && rm ec2-ami-tools.zip
	ls | grep ec2-ami-tools | head -n1 | sed -e "s/ec2-ami-tools-//" > version.txt
	cp -a ec2-ami-tools-$$(cat version.txt)/* . && rm -rf ec2-ami-tools-$$(cat version.txt)
